*
{
  padding: 0;
  margin: 0;
}

.App
{
  background-color: blueviolet;
}

.h1
{
  color: white;
  text-shadow: 1px 1px 2px white;
  user-select: none;
  font-size: 38px;
  margin-left: 5px;
}

.header
{
  margin-bottom: 4px;
  padding-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  color: white;
  border-bottom: 1px solid white;
}

.logoStats
{
  display: flex;
  width: 40px;
  height: 100%;
  user-select: none;
  padding: 0px 5px;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 25px;
}

.logoStats:hover
{
  background-color: black;
  color: yellow;
}

.backButton
{
  position: absolute;
  color: blueviolet;
  margin: 5px 10px;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  background-color: white;
  box-shadow: 1px 1px 3px white;
}

.backButton:hover
{
  background-color: black;
  color: yellow;
  box-shadow: 1px 1px 3px black;
}

a{color: white}