.admin
{
  height: 100vh;
}

.containerHead
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 25px;
  font-size: 23px;
  text-shadow: 1px 1px 2px white;
  user-select: none;
}

.principalContentAdmin
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 75%;
}

/*.createTournaments
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}

.tournament
{
  color: white;
  text-shadow: 1px 1px 2px white;
  font-size: 25px;
  margin: 5px;
  user-select: none;
}

.inputTournament
{
  width: 150%;
  height: 32px;
  box-shadow: 1px 1px 2px white;
  border-radius: 25px;
  border: none;
  user-select: none;
  padding: 5px;
  font-weight: bold;
  margin: 5px;
}*/


