.containerPrincipalMessage
{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerOptionsMessage
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
  height: 50%;
  width: 38%;
  margin: 10px;
  box-shadow: 1px 1px 3px white;
  border-radius: 25px;
}

.headerMessage
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 35px;
  color: blueviolet;
  text-shadow: 1px 1px 3px blueviolet;
  font-weight: bold;
}

